<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <script>
        function updateAction(event, actionType) {
            event.preventDefault(); 
            const cityNames = document.getElementById('city').value; 
            if (!cityNames){
                alert('Please provide a city name');
                return false;
            }
            const form = event.target.closest('form'); 

            
            if (actionType === 'avg') {
                form.action = "{% url 'get_weather_data' city_names='placeholder' %}".replace('placeholder', cityNames);
            } else if (actionType === 'current') {
                form.action = "{% url 'get_current_weather' city_names='placeholder' %}".replace('placeholder', cityNames);
            }


            form.submit();
        }
    </script>
</head>
<body>
    <h1>Enter City Name(s) for Weather Report</h1>
    <form method="GET">
        <label for="city">City Name(s) (comma-separated for multiple cities):</label>
        <input type="text" id="city" name="city_name" required>

        <button type="submit" onclick="updateAction(event, 'avg')">Get 24-Hour Average Weather</button>
        <button type="submit" onclick="updateAction(event, 'current')">Get Current Weather</button>
    </form>
</body>
</html>
